<header>
    <div>
        <h2><a href="/">Logo de l'appli</a></h2>
    </div>
    <nav>
        <ul>
            <% if (isAuthenticated) { %>
                <li><a href="/liste">Liste d'envies</a></li>
                <li>
                    <form action="/auth/deconnexion" method="POST">
                        <button type="submit">Se déconnecter</button>
                    </form>
                </li>
            <% } %>
            <% if (!isAuthenticated) { %>
                <li><a href="/auth/connexion">Se connecter</a></li>
                <li><a href="/auth/inscription">S'inscrire</a></li>
            <% } %>
        </ul>
    </nav>
</header>