<header>
    <div>
        <h2><a href="/">Logo de l'appli</a></h2>
    </div>
    <nav>
        <ul>
            <li><a href="/liste">Liste d'envies</a></li>
            <li><a href="/auth/connexion">Se connecter</a></li>
            <li><a href="/auth/inscription">S'inscrire</a></li>
        </ul>
    </nav>
</header>