.liste{
    display: flex;
    flex-direction: column;
}

.liste h1{
  margin-bottom: 15px;
}

.liste-content{
  width: 60vw;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* Style the buttons that are used to open and close the accordion panel */
.accordion-container{
  margin-bottom: 60px;
  width: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin: 0 auto;
    width: 100%;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;

    text-align: left;
  }

  .panel-buttons{
    display: flex;
  }

  .panel-buttons button{
    padding: 5px 12px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .panel-buttons button:hover{
    background-color: #444;
    cursor: pointer;
    color: white;
  }

.activites-info{
  text-align: left;
}