*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
    border: 1px solid black;
}

header nav ul{
    display: flex;
    list-style-type: none;
    min-width: 300px;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

header nav ul a:hover{
    text-decoration: underline;
}

main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carte-activite{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*..........       styles des modales  ⬇     ............. */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*..........       styles des modales  ⬆     ............. */
