<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <section class="carte-activite">
            <div class="carte-content">
                <h2 id="titre-activite">😎</h2>
            </div>
            <div class="carte-boutons">
                <button id="btn-carte">Générer une activité</button>
                <% if (isAuthenticated) { %>
                    <button id="btn-ajout" >Ajouter à ma liste d'envies</button>
                <% } %>
            </div>
        </section>
    </main>
<script src="/js/main.js"></script>

    <%- include('../includes/end.ejs') %>